In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import math
import matplotlib.pyplot as plt
import warnings
from sklearn.preprocessing import StandardScaler
warnings.simplefilter('ignore')
import sqlite3

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13904\2503405857.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<h2>Data inlezen</h2>

In [5]:
conn = sqlite3.connect('..\\..\\sqllite\\go_sales.sqlite')

sales_branch = pd.read_sql_query("SELECT * FROM sales_branch", conn)
country = pd.read_sql_query("SELECT * FROM country", conn)

<h2>Merge</h2>

In [6]:
merged_sales = pd.merge(sales_branch, country, on='COUNTRY_CODE', how='inner')
merged_sales

,SALES_BRANCH_CODE,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY_CODE,TRIAL888,COUNTRY,LANGUAGE,CURRENCY_NAME,TRIAL879
0,13,Schwabentor 35,None,Hamburg,None,D-22529,2,T,Germany,EN,marks,T
1,14,Leopoldstraße 36,None,München,None,D-81241,2,T,Germany,EN,marks,T
2,15,Isafjordsgatan 30 C,None,Kista,None,S-164 40,10,T,Sweden,EN,krona,T
3,17,"7800, 756 - 6th Avenue. S.W.",None,Calgary,Alberta,T2P 3Z0,4,T,Canada,EN,dollars,T
4,18,789 Yonge Street,None,Toronto,Ontario,M2M 4K8,4,T,Canada,EN,dollars,T
5,19,1288 Dorchester Avenue,None,Boston,Massachusetts,02133,3,T,United States,EN,dollars,T
6,20,299 Yale Avenue,None,Seattle,Washington,98139,3,T,United States,EN,dollars,T
7,21,1288 South Barrington Ave.,None,Los Angeles,California,90072,3,T,United States,EN,dollars,T
8,22,10032 NW 186th,None,Miami,Florida,33024,3,T,United States,EN,dollars,T
9,23,"6c, rue de l'Église",None,Lyon,None,F-69002,1,T,France,EN,francs,T
10,24,Prol. Paseo de la Reforma No. 51,Lomas de Santa Fe,Distrito Federal,México,01219,20,T,Mexico,EN,pesos,T
11,25,202-2-3 Hyakunincho,Shinjuku-ku,Tokyo,Tokyo,681-3187,11,T,Japan,EN,yen,T
12,26,543-225 Asahi,Asahi-ku,Osaka City,Osaka,616-5698,11,T,Japan,EN,yen,T
13,28,2315 Queen's Ave,Level 2,Melbourne,VIC,2088,16,T,Australia,EN,dollars,T
14,29,"Plaza de la Constitución, s/n",None,Bilbao,Vizcaya,48223,19,T,Spain,EN,pesetas,T
15,30,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,T,Brazil,EN,reals,T
16,31,Kauppakatu 33,None,Kuopio,None,FIN-73100,22,T,Finland,EN,markka,T
17,32,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,13,T,Korea,EN,won,T
18,33,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,12,T,Taiwan,EN,new dollar,T
19,34,No. 1277 Beijing Xi Road,None,Shanghai,None,200040,14,T,China,EN,renminbi,T
20,35,Victoria House,25 Ebury Street,London,None,N17 7LX,9,T,United Kingdom,EN,pounds,T
21,36,3 Albany Court,Market Street,Birmingham,West Midlands,B43 7NP,9,T,United Kingdom,EN,pounds,T
22,37,Birchstraße 13,None,Zürich,None,CH-8057,8,T,Switzerland,EN,francs,T
23,38,Interleuvenlaan 2,None,Heverlee,None,B-3001,17,T,Belgium,EN,francs,T
24,39,Jedleser Straße 7,None,Wien,None,A-1210,5,T,Austria,EN,schillings,T
25,6,"75, rue du Faubourg St-Honoré",None,Paris,None,F-75008,1,T,France,EN,francs,T
26,7,"Piazza Duomo, 1",None,Milano,None,I-20121,6,T,Italy,EN,lira,T
27,9,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,1233 BW,7,T,Netherlands,EN,guilders,T

<h2>Clean up</h2>

In [7]:
merged_sales.drop(columns=['SALES_BRANCH_CODE', 'TRIAL888', 'COUNTRY_CODE', 'LANGUAGE', 'CURRENCY_NAME', 'TRIAL879'], inplace=True)

merged_sales

,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY
0,Schwabentor 35,None,Hamburg,None,D-22529,Germany
1,Leopoldstraße 36,None,München,None,D-81241,Germany
2,Isafjordsgatan 30 C,None,Kista,None,S-164 40,Sweden
3,"7800, 756 - 6th Avenue. S.W.",None,Calgary,Alberta,T2P 3Z0,Canada
4,789 Yonge Street,None,Toronto,Ontario,M2M 4K8,Canada
5,1288 Dorchester Avenue,None,Boston,Massachusetts,02133,United States
6,299 Yale Avenue,None,Seattle,Washington,98139,United States
7,1288 South Barrington Ave.,None,Los Angeles,California,90072,United States
8,10032 NW 186th,None,Miami,Florida,33024,United States
9,"6c, rue de l'Église",None,Lyon,None,F-69002,France
10,Prol. Paseo de la Reforma No. 51,Lomas de Santa Fe,Distrito Federal,México,01219,Mexico
11,202-2-3 Hyakunincho,Shinjuku-ku,Tokyo,Tokyo,681-3187,Japan
12,543-225 Asahi,Asahi-ku,Osaka City,Osaka,616-5698,Japan
13,2315 Queen's Ave,Level 2,Melbourne,VIC,2088,Australia
14,"Plaza de la Constitución, s/n",None,Bilbao,Vizcaya,48223,Spain
15,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,Brazil
16,Kauppakatu 33,None,Kuopio,None,FIN-73100,Finland
17,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,Korea
18,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,Taiwan
19,No. 1277 Beijing Xi Road,None,Shanghai,None,200040,China
20,Victoria House,25 Ebury Street,London,None,N17 7LX,United Kingdom
21,3 Albany Court,Market Street,Birmingham,West Midlands,B43 7NP,United Kingdom
22,Birchstraße 13,None,Zürich,None,CH-8057,Switzerland
23,Interleuvenlaan 2,None,Heverlee,None,B-3001,Belgium
24,Jedleser Straße 7,None,Wien,None,A-1210,Austria
25,"75, rue du Faubourg St-Honoré",None,Paris,None,F-75008,France
26,"Piazza Duomo, 1",None,Milano,None,I-20121,Italy
27,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,1233 BW,Netherlands

<h2>Dummy-fy</h2>

In [8]:
merged_sales_dummies = pd.get_dummies(merged_sales)

merged_sales_dummies

,ADDRESS1_10032 NW 186th,ADDRESS1_1288 Dorchester Avenue,ADDRESS1_1288 South Barrington Ave.,"ADDRESS1_154, Choung-Cheng South Road",ADDRESS1_202-2-3 Hyakunincho,ADDRESS1_2315 Queen's Ave,"ADDRESS1_234-12, Kongdeok-Dong",ADDRESS1_299 Yale Avenue,ADDRESS1_3 Albany Court,ADDRESS1_543-225 Asahi,...,COUNTRY_Japan,COUNTRY_Korea,COUNTRY_Mexico,COUNTRY_Netherlands,COUNTRY_Spain,COUNTRY_Sweden,COUNTRY_Switzerland,COUNTRY_Taiwan,COUNTRY_United Kingdom,COUNTRY_United States
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
7,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
8,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

<h2>KMeans and clustermodel</h2>