In [1]:
import pandas as pd
import pyodbc
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('..\\..\\sqllite\\go_sales.sqlite')
conn2 = sqlite3.connect('..\\..\\sqllite\\go_crm.sqlite')

# Connect to SQL Server
DB = {'servername': 'LAPTOP-HSI9FLRD\\SQLEXPRESS',
      'database': 'DataWarehouseGreatOutdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')

export_cursor = export_conn.cursor()

# properties
pd.set_option('display.max_columns', None)

C:\Users\chris\AppData\Local\Temp\ipykernel_23120\2109012395.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
# Read data from SQLite database
order_header = pd.read_sql_query("SELECT * FROM order_header", conn)
order_details = pd.read_sql_query("SELECT * FROM order_details", conn)
order_method = pd.read_sql_query("SELECT * FROM order_method", conn)


# Merge data into one table
combined_order_table = pd.merge(order_header, order_details, on='ORDER_NUMBER')
combined_order_table = pd.merge(combined_order_table, order_method, on='ORDER_METHOD_CODE' ,how='left')
combined_order_table

# Iterate through rows and insert into SQL Server
# for index, row in combined_order_table.iterrows():
#     try:
#         # Adjust your INSERT query according to the actual column names in your SQL Server table
#         query = "INSERT INTO ORDER_DETAILS ([order_detail_code], [order_number], [order_method_code], [order_method_en], [quantity], [order_detail_unit_cost], [order_detail_unit_price], [order_detail_unit_sale], [order_detail_order_date], [order_detail_product_number], [retailer_site_code], [sales_staff_code]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
#         export_cursor.execute(query, row['ORDER_DETAIL_CODE'], row['ORDER_NUMBER'], row['ORDER_METHOD_CODE'], row['ORDER_METHOD_EN'], row['QUANTITY'], row['UNIT_COST'], row['UNIT_PRICE'], row['UNIT_SALE_PRICE'], row['ORDER_DATE'], row['PRODUCT_NUMBER'], row['RETAILER_SITE_CODE'], row['SALES_STAFF_CODE'])
#     except pyodbc.Error as e:
#         print(f"Error inserting row {index}: {e}")

# export_conn.commit()

,ORDER_NUMBER,RETAILER_NAME,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_METHOD_CODE,TRIAL885,ORDER_DETAIL_CODE,PRODUCT_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,TRIAL879,ORDER_METHOD_EN,TRIAL888
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T,47747,2,100,9.64,12.53,11.81,T,Sales visit,T
1,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T,47994,32,254,18.25,27.37,25.1,T,Sales visit,T
2,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T,48015,35,114,19.67,26.54,24.82,T,Sales visit,T
3,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T,48022,36,130,21.03,34.9,31.44,T,Sales visit,T
4,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T,48049,39,74,42.33,67.73,61.38,T,Sales visit,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T,110788,52,64,19,38,33.25,T,Web,T
43059,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T,110816,56,24,9,18,15.75,T,Web,T
43060,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T,110827,57,40,40,80,70,T,Web,T
43061,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T,110914,78,32,79.19,99,94.05,T,Web,T
43062,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T,110948,88,144,2,7,5.75,T,Web,T