# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [ ]:

import warnings
warnings.simplefilter('ignore')

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [ ]:
import pandas as pd
import sqlite3
from IPython.display import display

# st = pd.read_csv('..\..\sqllite\GO_SALES_INVENTORY_LEVELSData.csv')
# print(st.tail(10))

#conn = sqlite3.connect('..\..\sqllite\go_sales.sqlite') remove
conn = sqlite3.connect('..\\..\\sqllite\\go_sales.sqlite')

# show rows and columns
# pd.set_option('display.max_rows', 8)
# pd.set_option('display.max_columns', None)

# # Reset display options to default
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [ ]:
# sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
# df = pd.read_sql_query(sql_query, conn)
# print(df.tail(5))

sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(sql_query, conn) # Uitvoeren van de query

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [ ]:
medewerkers = pd.read_sql_query("SELECT * FROM sales_staff", conn)
medewerkers

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [ ]:
# Create Series from DataFrame columns
series1 = pd.Series(medewerkers['SALES_STAFF_CODE'])
series2 = pd.Series(medewerkers['WORK_PHONE'])
series3 = pd.Series(medewerkers['EXTENSION'])
series4 = pd.Series(medewerkers['FAX'])
series5 = pd.Series(medewerkers['EMAIL'])

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [ ]:
# Concatenate the Series into a DataFrame
contact_details = pd.concat([series1, series2, series3, series4, series5], axis=1)

# print(contact_details)
# display(contact_details)
contact_details

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [ ]:
# nieuwe_dataframe = display(contact_details.head(10)) display only displays, doesn't return a value
nieuwe_dataframe = contact_details.head(10)
nieuwe_dataframe

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
# lang lists
first_language_list = ['EN'] * 10
# second_language_list = None # have to create a list first and then convert to Series to have empty column
# third_language_list = None

# convert the lang lists to Series
first_language_list_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')
# second_language_list_series = pd.Series(second_language_list, name='SECOND_LANGUAGE')
# third_language_list_series = pd.Series(third_language_list, name='THIRD_LANGUAGE')

# Concatenate to the DataFrame: niewe_dataframe
# extended_contact_details = pd.concat([nieuwe_dataframe, first_language_list_series, second_language_list_series, third_language_list_series], axis=1)
extended_nieuwe_dataframe = pd.concat([nieuwe_dataframe, first_language_list_series], axis=1)

extended_nieuwe_dataframe

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
second_language_dict = {0: 'FR', 1: 'FR', 2: 'FR', 3: None, 4: None, 5: None, 6: None, 7: None, 8: 'DE', 9: 'DE'}

# Convert the dictionary to a Series
second_language_series = pd.Series(second_language_dict)

extended_nieuwe_dataframe['SECOND_LANGUAGE'] = second_language_series

# # Concatenate the DataFrame and second_language_series
# extended_nieuwe_dataframe = pd.concat([extended_nieuwe_dataframe, pd.DataFrame(second_language_series)], ignore_index=True)

extended_nieuwe_dataframe

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [ ]:
third_language_kolom_dict = { 'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'NL', 'NL', 'NL', 'NL', 'NL', 'JPN', 'KOR'] }

# extended_nieuwe_dataframe = pd.concat([extended_nieuwe_dataframe, pd.DataFrame(third_language_kolom_dict)], ignore_index=True)

# Directly assign the new column to the DataFrame
extended_nieuwe_dataframe['THIRD_LANGUAGE'] = third_language_kolom_dict['THIRD_LANGUAGE']
extended_nieuwe_dataframe

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [ ]:
sales_staff = sqlite3.connect('..\\..\\sqllite\\go_staff.sqlite')

sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
display(pd.read_sql_query(sql_query, sales_staff)) # Uitvoeren van de query

nieuwe_medewerkers_dictionary = {
    'SALES_STAFF_CODE': [888, 999],
    'FIRST_NAME': ['John', 'Jane'],
    'LAST_NAME': ['Doe', 'Doe'],
    'POSITION_EN': ['Level 999 Sales Representative', 'Level 1000 Sales Representative'],
    'WORK_PHONE': ['555-1234', '555-1235'],
    'EXTENSION': [None, None],
    'FAX': [None, None],
    'EMAIL': ['YUMA@GMAIL.COM', 'YUMATOO@GMAIL.COM'],
    'DATE_HIRED': ['2019-01-01', '2019-01-01'],
    'SALES_BRANCH_CODE': [1, 1],
    'TRIAL888': [None, None]
}

nieuwe_medewerkers_dictionary_single = {
    'SALES_STAFF_CODE': 777,
    'FIRST_NAME': 'Kimberly',
    'LAST_NAME': 'Doe',
    'POSITION_EN': 'Level 1000 Sales Representative',
    'WORK_PHONE': '555-1234',
    'EXTENSION':  None,
    'FAX': None,
    'EMAIL': 'YUMAkugaaa@GMAIL.COM',
    'DATE_HIRED': '2019-01-01',
    'SALES_BRANCH_CODE': 1,
    'TRIAL888': None
}

medewerkers02 = pd.read_sql_query("SELECT * FROM sales_staff", sales_staff)
medewerkers02 = pd.concat([medewerkers02, pd.DataFrame([nieuwe_medewerkers_dictionary_single])], ignore_index=True)

medewerkers02

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [ ]:
medewerkers02['FULL_NAME'] = medewerkers02['FIRST_NAME'] + ' ' + medewerkers02['LAST_NAME']
medewerkers02

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [ ]:
medewerkers02.dtypes

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
medewerkers02['EXTENSION'] = medewerkers02['EXTENSION'].astype(int)
medewerkers02.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
medewerkers02['EXTENSION'] = medewerkers02['EXTENSION'].astype(float)
medewerkers02.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [ ]:
medewerkers02['EXTENSION'] += 1
medewerkers02

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [ ]:
medewerkers02 = medewerkers02.replace('Branch Manager', 'General Manager')
medewerkers02

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [ ]:
medewerkers02 = medewerkers02.rename(columns={'POSITION_EN': 'POSITION'})
medewerkers02

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [ ]:
medewerkers02 = medewerkers02.drop([99, 100, 101], axis=0)
medewerkers02

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [ ]:
medewerkers02 = medewerkers02.drop('FAX', axis=1)
medewerkers02