# Practicumopdrachten Week 2.3 (eerste kans)

## Dependencies importeren

Kopieer in het codeblok hieronder van het vorige practicum de import-code voor de dependencies die het vaakst worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
Zet eventuele warnings uit.

In [ ]:
import warnings
import pandas as pd
import numpy as np
import sqlite3

warnings.simplefilter('ignore')

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabellen inlezen

Kopieer in het codeblok hieronder van het vorige practicum de code om een connectie met het bestand go_sales.sqlite te maken.

In [ ]:
conn = sqlite3.connect('..\\..\\sqllite\\go_sales.sqlite')

# show rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# # Reset display options to default
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')

Lees van de ingelezen go_sales-database te volgende tabellen in met behulp van "SELECT * FROM *tabel*".
- product
- product_type
- product_line
- sales_staff
- sales_branch
- retailer_site
- country
- order_header
- order_details
- target
- returned_item
- return_reason

In [ ]:
product_table = pd.read_sql_query("SELECT * FROM product", conn)
product_type_table = pd.read_sql_query("SELECT * FROM product_type", conn)
product_line_table = pd.read_sql_query("SELECT * FROM product_line", conn)
sales_staff_table = pd.read_sql_query("SELECT * FROM sales_staff", conn)
sales_branch_table = pd.read_sql_query("SELECT * FROM sales_branch", conn)
retailer_site_table = pd.read_sql_query("SELECT * FROM retailer_site", conn)
country_table = pd.read_sql_query("SELECT * FROM country", conn)
order_header_table = pd.read_sql_query("SELECT * FROM order_header", conn)
order_details_table = pd.read_sql_query("SELECT * FROM order_details", conn)
SALES_TARGET_Data_table = pd.read_sql_query("SELECT * FROM SALES_TARGETData", conn)
returned_item_table = pd.read_sql_query("SELECT * FROM returned_item", conn)
return_reason_table = pd.read_sql_query("SELECT * FROM return_reason", conn)

Let op! Voor alle onderstaande opdrachten mag je <u>alleen Python</u> gebruiken, <u>geen SQL!</u>

## Selecties op één tabel zonder functies

Geef een overzicht met daarin de producten en hun productiekosten waarvan de productiekosten lager dan 100 dollar en hoger dan 50 dollar ligt. (2 kolommen, 23 rijen)

In [ ]:
product_table['PRODUCTION_COST'] = product_table['PRODUCTION_COST'].astype(float)
product_table.dtypes

filtered_product_table = product_table[(product_table['PRODUCTION_COST'] > 50) & (product_table['PRODUCTION_COST'] < 100)]
filtered_product_table = filtered_product_table[['PRODUCT_NAME', 'PRODUCTION_COST']]
filtered_product_table

Geef een overzicht met daarin de producten en hun marge waarvan de marge lager dan 20 % of hoger dan 60 % ligt. (2 kolommen, 7 rijen)

In [ ]:
product_table['MARGIN'] = product_table['MARGIN'].astype(float)
product_table.dtypes

filtered_product_table = product_table[(product_table['MARGIN'] < .2) | (product_table['MARGIN'] > .6)]
filtered_product_table = filtered_product_table[['PRODUCT_NAME', 'MARGIN']]
filtered_product_table

Geef een overzicht met daarin de landen waar met francs wordt betaald. Sorteer de uitkomst op land.  (1 kolom, 3 rijen)

In [ ]:
# manier 1
countries_currency_francs = country_table[(country_table['CURRENCY_NAME'] == 'francs')]
countries_currency_francs = countries_currency_francs[['COUNTRY', 'CURRENCY_NAME']]
countries_currency_francs

# # manier 2
# countries_currency_francs = country_table['CURRENCY_NAME'] == 'francs' # truth table / boolean table
# countries_currency_francs = country_table.loc[(countries_currency_francs), ['COUNTRY', 'CURRENCY_NAME']]
# countries_currency_francs

Geef een overzicht met daarin de verschillende introductiedatums waarop producten met meer dan 50% marge worden geïntroduceerd (1 kolom, 7 rijen)

In [ ]:
# product_met_meer_dan_50_procent_marge = product_table['MARGIN'] > .5
# product_met_meer_dan_50_procent_marge_table = product_table.loc[(product_met_meer_dan_50_procent_marge), ['INTRODUCTION_DATE', 'PRODUCT_NAME', 'MARGIN']]
# product_met_meer_dan_50_procent_marge_table

product_met_meer_dan_50_procent_marge_table = product_table['MARGIN'] > .5
product_met_meer_dan_50_procent_marge_table = product_table.loc[(product_met_meer_dan_50_procent_marge_table), ['INTRODUCTION_DATE', 'PRODUCT_NAME', 'MARGIN']].drop_duplicates('INTRODUCTION_DATE')
product_met_meer_dan_50_procent_marge_table

Geef een overzicht met daarin het eerste adres en de stad van verkoopafdelingen waarvan zowel het tweede adres als de regio bekend is (2 kolommen, 28 rijen)

In [ ]:
filtered_sales_branch_table = sales_branch_table['ADDRESS1'].notna() & sales_branch_table['ADDRESS2'].notna() & sales_branch_table['CITY'].notna() & sales_branch_table['REGION'].notna()
filtered_sales_branch_table = sales_branch_table.loc[(filtered_sales_branch_table), ['ADDRESS1', 'CITY']]
filtered_sales_branch_table

Geef een overzicht met daarin de landen waar met dollars (dollars of new dollar) wordt betaald. Sorteer de uitkomst op land. (1 kolom, 4 rijen)

In [ ]:
countries_with_dollar_newdollar = (country_table['CURRENCY_NAME'] == 'dollars') | (country_table['CURRENCY_NAME'] == 'new dollar')
countries_with_dollar_newdollar = country_table.loc[(countries_with_dollar_newdollar), ['COUNTRY', 'CURRENCY_NAME']]
countries_with_dollar_newdollar

Geef een overzicht met daarin beide adressen en de stad van vestigingen van klanten waarvan de postcode begint met een ‘D’ (van duitsland). Filter op vestigingen die een tweede adres hebben. (3 kolommen, 2 rijen)

In [ ]:
filtered_retailer_site_table = (retailer_site_table['POSTAL_ZONE'].str[0] == 'D') & (retailer_site_table['ADDRESS2'].notna())
filtered_retailer_site_table = retailer_site_table.loc[(filtered_retailer_site_table), ['ADDRESS1', 'ADDRESS2', 'CITY']]
filtered_retailer_site_table

## Selecties op één tabel met functies

Geef het totaal aantal producten dat is teruggebracht (1 waarde)

In [ ]:
# returned_item_table[].count()

returned_item_table['RETURN_CODE'].count()

Geef het aantal regio’s waarin verkoopafdelingen gevestigd zijn. (1 waarde)

In [ ]:
sales_branch_table['REGION'].count()

# This will give you the count of unique values in the 'REGION' column of the 
# sales_branch_table['REGION'].nunique()

Maak 3 variabelen:
- Een met de laagste
- Een met de hoogste
- Een met de gemiddelde (afgerond op 2 decimalen)

marge van producten (3 kolommen, 1 rij)

In [ ]:
laagste_marge = product_table['MARGIN'].min()
hoogste_marge = product_table['MARGIN'].max()
gemiddelde_marge = product_table['MARGIN'].mean()

nieuwDataFrame = pd.DataFrame({'Laagste marge': [laagste_marge], 'Hoogste marge': [hoogste_marge], 'Gemiddelde marge': [gemiddelde_marge]})
nieuwDataFrame

Geef het aantal vestigingen van klanten waarvan het 2e adres niet bekend is (1 waarde)

In [ ]:
onbekend_tweede_adres = retailer_site_table['ADDRESS2'].isna()
onbekend_tweede_adres = retailer_site_table.loc[(onbekend_tweede_adres), :]
onbekend_tweede_adres['RETAILER_CODE'].count()

Geef de gemiddelde kostprijs van de verkochte producten waarop korting (unit_sale_price < unit_price) is verleend (1 waarde)

In [ ]:
order_details_table['UNIT_PRICE'] = order_details_table['UNIT_PRICE'].astype(float)
order_details_table['UNIT_SALE_PRICE'] = order_details_table['UNIT_SALE_PRICE'].astype(float)
order_details_table['UNIT_COST'] = order_details_table['UNIT_COST'].astype(float)

filtered_price_table = (order_details_table['UNIT_SALE_PRICE'] < order_details_table['UNIT_PRICE'])
filtered_price_table = order_details_table.loc[(filtered_price_table), ['UNIT_COST', 'UNIT_PRICE', 'UNIT_SALE_PRICE']]

filtered_price_table['UNIT_COST'].mean()

Geef een overzicht met daarin het aantal medewerkers per medewerkersfunctie (2 kolommen, 7 rijen)

In [ ]:
functies_tabel_staff = sales_staff_table.groupby('POSITION_EN', as_index=False)['SALES_STAFF_CODE'].count()
functies_tabel_staff

Geef een overzicht met daarin per telefoonnummer het aantal medewerkers dat op dat telefoonnummer bereikbaar is. Toon alleen de telefoonnummer waarop meer dan 4 medewerkers bereikbaar zijn. (2 kolommen, 10 rijen)

In [ ]:
telephone_numberss = sales_staff_table.groupby('WORK_PHONE', as_index=False)['SALES_STAFF_CODE'].count()
telephone_numberss_count = telephone_numberss['SALES_STAFF_CODE'] > 4
telephone_numberss = telephone_numberss.loc[(telephone_numberss_count), ['WORK_PHONE', 'SALES_STAFF_CODE']]
telephone_numberss

## Selecties op meerdere tabellen zonder functies

Geef een overzicht met daarin het eerste adres en de stad van vestigingen van klanten uit ‘Netherlands’ (2 kolommen, 20 rijen)

In [ ]:
klant_met_land = pd.merge(retailer_site_table, country_table, left_on='COUNTRY_CODE', how='inner', right_on='COUNTRY_CODE')
klant_met_land = klant_met_land[klant_met_land['COUNTRY'] == 'Netherlands']

klant_met_land = klant_met_land[['ADDRESS1', 'CITY']]
klant_met_land

Geef een overzicht met daarin de productnamen die tot het producttype ‘Eyewear’ behoren. (1 kolom, 5 rijen)

In [ ]:
eyewear = pd.merge(product_table, product_type_table, left_on='PRODUCT_TYPE_CODE', how='inner', right_on='PRODUCT_TYPE_CODE')
eyewear = eyewear[eyewear['PRODUCT_TYPE_EN'] == 'Eyewear']
eyewear = eyewear[['PRODUCT_NAME']]
eyewear

Geef een overzicht met daarin alle unieke eerste adressen van klantvestigingen en de voornaam en achternaam van de verkopers die ‘Branch Manager’ zijn en aan deze vestigingen hebben verkocht (3 kolommen, 1 rij)

In [ ]:
klant_branch_stuff = pd.merge(order_header_table, retailer_site_table, left_on='RETAILER_SITE_CODE', how='inner', right_on='RETAILER_SITE_CODE')
klant_branch_stuff = pd.merge(klant_branch_stuff, sales_staff_table, left_on='SALES_STAFF_CODE', how='inner', right_on='SALES_STAFF_CODE')
klant_branch_stuff = klant_branch_stuff[klant_branch_stuff['POSITION_EN'] == 'Branch Manager']
klant_branch_stuff = klant_branch_stuff.drop_duplicates('ADDRESS1')
klant_branch_stuff = klant_branch_stuff[['ADDRESS1', 'FIRST_NAME', 'LAST_NAME']]
klant_branch_stuff

Geef een overzicht met daarin van de verkopers hun functie en indien zij iets hebben verkocht de datum waarop de verkoop heeft plaatsgevonden. Laat alleen de verschillende namen van de posities zien van de verkopers die het woord ‘Manager’ in hun positienaam hebben staan. (2 kolommen, 9 rijen)

In [ ]:
sales_verkoper = pd.merge(sales_staff_table, order_header_table, how='left')
sales_verkoper_manager = sales_verkoper['POSITION_EN'].str.contains('Manager')
sales_verkoper = sales_verkoper.loc[(sales_verkoper_manager), ['ORDER_DATE', 'POSITION_EN']].drop_duplicates()
sales_verkoper

Geef een overzicht met daarin de verschillende namen van producten en bijbehorende namen van producttypen van de producten waarvoor ooit meer dan 750 stuks tegelijk verkocht zijn. (2 kolommen, 9 rijen)

In [ ]:
order_details_table['QUANTITY'] = order_details_table['QUANTITY'].astype(int)

list_table = pd.merge(order_details_table, product_table, left_on='PRODUCT_NUMBER', how='inner', right_on='PRODUCT_NUMBER')
list_table = pd.merge(list_table, product_type_table, left_on='PRODUCT_TYPE_CODE', how='inner', right_on='PRODUCT_TYPE_CODE')
list_table_count = list_table['QUANTITY'] > 750
list_table = list_table.loc[(list_table_count), ['PRODUCT_NAME', 'PRODUCT_TYPE_EN']].drop_duplicates()
list_table

Geef een overzicht met daarin de productnamen waarvan ooit meer dan 40% korting is verleend. De formule voor korting is: (unit_price - unit_sale_price) / unit_price (1 kolom, 8 rijen)

In [ ]:
order_details_table['UNIT_PRICE'] = order_details_table['UNIT_PRICE'].astype(float)
order_details_table['UNIT_SALE_PRICE'] = order_details_table['UNIT_SALE_PRICE'].astype(float)

list_table_prodduct_idk = pd.merge(order_details_table, product_table, left_on='PRODUCT_NUMBER', how='inner', right_on='PRODUCT_NUMBER')
list_table_prodduct_idk_idk = ((list_table_prodduct_idk['UNIT_PRICE'] - list_table_prodduct_idk['UNIT_SALE_PRICE']) / list_table_prodduct_idk['UNIT_PRICE']) > .4
list_table_prodduct_idk = list_table_prodduct_idk.loc[(list_table_prodduct_idk_idk), ['PRODUCT_NAME']].drop_duplicates('PRODUCT_NAME')
list_table_prodduct_idk

Geef een overzicht met daarin de retourreden van producten waarvan ooit meer dan 90% van de aangeschafte hoeveelheid is teruggebracht (return_quantity/quantity). (1 kolom, 3 rijen)

In [ ]:
list_item_returned = pd.merge(order_details_table, returned_item_table, left_on='ORDER_DETAIL_CODE', how='inner', right_on='ORDER_DETAIL_CODE')
list_item_returned = pd.merge(list_item_returned, return_reason_table, left_on='RETURN_REASON_CODE', how='inner', right_on='RETURN_REASON_CODE')

list_item_returned['QUANTITY'] = list_item_returned['QUANTITY'].astype(float)
list_item_returned['RETURN_QUANTITY'] = list_item_returned['RETURN_QUANTITY'].astype(float)

list_item_returned = list_item_returned[((list_item_returned['RETURN_QUANTITY'] / list_item_returned['QUANTITY']) > .90)].drop_duplicates('RETURN_REASON_CODE')
list_item_returned = list_item_returned[['RETURN_DESCRIPTION_EN']]
list_item_returned

## Selecties op meerdere tabellen met functies

Geef een overzicht met daarin per producttype het aantal producten die tot dat producttype behoren. (2 kolommen, 21 rijen)

In [ ]:
producttype_list_aantal = pd.merge(product_type_table, product_table, left_on='PRODUCT_TYPE_CODE', how='inner', right_on='PRODUCT_TYPE_CODE')
producttype_list_aantal = producttype_list_aantal.groupby('PRODUCT_TYPE_EN', as_index=False)['PRODUCT_NUMBER'].count()
producttype_list_aantal

Geef een overzicht met daarin per land het aantal vestigingen van klanten die zich in dat land bevinden. (2 kolommen, 21 rijen)

In [ ]:
list_landen_vestigingen = pd.merge(country_table, retailer_site_table, left_on='COUNTRY_CODE', how='inner', right_on='COUNTRY_CODE')
list_landen_vestigingen = list_landen_vestigingen.groupby('COUNTRY', as_index=False)['RETAILER_SITE_CODE'].count()
list_landen_vestigingen

Geef een overzicht met daarin van de producten behorend tot het producttype ‘Cooking Gear’ per productnaam de totaal verkochte hoeveelheid en de gemiddelde verkoopprijs. Sorteer de uitkomst op totaal verkochte hoeveelheid. (4 kolommen, 10 rijen)
# This needs to be checked!

In [ ]:
# This needs to be checked!
print("\033[91mproduct_cooking_gear_list\033[0m")


product_cooking_gear_list = pd.merge(product_table, product_type_table)
product_cooking_gear_list = pd.merge(product_cooking_gear_list, order_details_table)

product_cooking_gear_list = product_cooking_gear_list[product_cooking_gear_list['PRODUCT_TYPE_EN'] == 'Cooking Gear']

product_cooking_gear_list['UNIT_PRICE'] = pd.to_numeric(product_cooking_gear_list['UNIT_PRICE'], errors='coerce')

product_cooking_gear_list = product_cooking_gear_list.groupby(['PRODUCT_NAME', 'PRODUCT_TYPE_EN'], as_index=False).agg({'UNIT_PRICE': 'mean',  'QUANTITY': 'sum'}).sort_values('QUANTITY', ascending=False)
product_cooking_gear_list

Geef een overzicht met daarin van de verkopers behorend tot de verkoopafdeling uit ‘Amsterdam’ de voornaam en achternaam van de verkoper en zijn laagste en hoogste verkooptarget van 2006. (4 kolommen, 4 rijen)

In [ ]:
sales_staff_branch = pd.merge(sales_staff_table, sales_branch_table)
sales_staff_branch = sales_staff_branch[sales_staff_branch['CITY'] == 'Amsterdam']
sales_staff_branch = pd.merge(sales_staff_branch, SALES_TARGET_Data_table, 'left')

# Filter out rows with missing sales targets
sales_staff_branch = sales_staff_branch[sales_staff_branch['SALES_TARGET'].notna()]

# Group by salesperson and get the lowest and highest sales targets
result = sales_staff_branch.groupby(['FIRST_NAME', 'LAST_NAME'], as_index=False).agg({'SALES_TARGET': ['min', 'max']})

# Rename columns for clarity
result.columns = ['FIRST_NAME', 'LAST_NAME', 'MIN_SALES_TARGET', 'MAX_SALES_TARGET']

# Display the resulting DataFrame
result

Geef een overzicht met daarin per land de naam van het land, de naam van de stad waar de verkoopafdeling is gevestigd (noem de kolomnaam in het overzicht ‘verkoper’) en het aantal steden waar zich klanten bevinden in dat land (noem de kolomnaam in het overzicht ‘klanten’) (3 kolommen, 29 rijen)

In [ ]:
overview = pd.merge(country_table, sales_branch_table, left_on='COUNTRY_CODE', right_on='COUNTRY_CODE')
overview = pd.merge(overview, retailer_site_table, left_on='CITY', right_on='CITY', how='left')

overview = overview.groupby(['COUNTRY', 'CITY'], as_index=False).agg({'RETAILER_SITE_CODE': 'nunique'})
overview.columns = ['LAND', 'VERKOPER', 'KLANTEN']

overview

## Pythonvertalingen van SUBSELECT en UNION met o.a. for-loops

Geef een overzicht met daarin de voornaam en de achternaam van de medewerkers die nog nooit wat hebben verkocht (2 kolommen, 25 rijen)

In [ ]:
sales_staff_no_sales = []

for index, row in sales_staff_table.iterrows():
    if order_header_table[order_header_table['SALES_STAFF_CODE'] == row['SALES_STAFF_CODE']].empty:
        sales_staff_no_sales.append({'FIRST_NAME': row['FIRST_NAME'], 'LAST_NAME': row['LAST_NAME']})

sales_staff_no_sales = pd.DataFrame(sales_staff_no_sales)
sales_staff_no_sales

Geef een overzicht met daarin het aantal producten waarvan de marge lager is dan de gemiddelde marge van alle producten samen. Geef in het overzicht tevens aan wat de gemiddelde marge is van dit aantal producten waarvan de marge lager dan de gemiddelde marge van alle producten samen is. (1 kolom, 2 rijen)

In [ ]:
product_table['MARGIN'] = product_table['MARGIN'].astype(float)
# Calculate the average margin of all products
average_margin = product_table['MARGIN'].mean()

num_lower_margin_products = 0
total_lower_margin = 0

for margin in product_table['MARGIN']:
    if margin < average_margin:
        num_lower_margin_products += 1
        total_lower_margin += margin

average_lower_margin = total_lower_margin / num_lower_margin_products

overview = pd.DataFrame({'Number of Products': [num_lower_margin_products], 'Average Margin of Lower Margin Products': [average_lower_margin]})
overview

Geef een overzicht met daarin de namen van de producten die voor meer dan 500 (verkoopprijs) zijn verkocht maar nooit zijn teruggebracht. (1 kolom, 13 rijen)

In [ ]:
order_details_table['UNIT_SALE_PRICE'] = order_details_table['UNIT_SALE_PRICE'].astype(float)
order_details_table['QUANTITY'] = order_details_table['QUANTITY'].astype(float)

table_this = pd.merge(order_details_table, product_table)
table_this = pd.merge(table_this, returned_item_table, how='left')

product_names = []

for index, row in table_this.iterrows():
    if (row['UNIT_SALE_PRICE'] * row['QUANTITY'] > 500) and pd.isna(row['ORDER_DETAIL_CODE']):
        product_names.append(row['PRODUCT_NAME'])

result = pd.DataFrame({'Product Name': product_names})
result

Geef een overzicht met daarin per (achternaam van) medewerker of hij/zij manager is of niet, door deze informatie toe te voegen als extra 'Ja/Nee'-kolom.<br>
Hint: gebruik een for-loop waarin je o.a. bepaalt of het woord 'Manager' in de functie (position_en) staat. (2 kolommen, 102 rijen).

In [ ]:
manager_status = []

for index, row in sales_staff_table.iterrows():
    if 'Manager' in row['POSITION_EN']:
        # If 'Manager' is present, append 'Ja' to the manager_status list
        manager_status.append('Ja')
    else:
        # If 'Manager' is not present, append 'Nee' to the manager_status list
        manager_status.append('Nee')

sales_staff_table['Manager'] = manager_status
sales_staff_table[['LAST_NAME', 'Manager']]

Met de onderstaande code laat je Python het huidige jaar uitrekenen.

In [ ]:
from datetime import date
date.today().year

Met de onderstaande code selecteer je op een bepaald jaartal uit een datum.

In [ ]:
from datetime import datetime

date_str = '16-8-2013'
date_format = '%d-%m-%Y'
date_obj = datetime.strptime(date_str, date_format)

date_obj.year

Geef met behulp van bovenstaande hulpcode een overzicht met daarin op basis van het aantal jaar dat iemand in dienst is of een medewerker ‘kort in dienst’ (minder dan 25 jaar in dienst) of een ‘lang in dienst’ (groter gelijk dan 12 jaar in dienst) is. Geef daarbij per medewerker in een aparte kolom zowel ‘kort in dienst’ als ‘lang in dienst’ aan. Gebruik (wederom) een for-loop.<br>
(2 kolommen, 102 rijen)

In [ ]:
from datetime import date

current_year = date.today().year

sales_staff_table['DATE_HIRED'] = pd.to_datetime(sales_staff_table['DATE_HIRED'])

employee_names = []
tenure_categories = []

for index, row in sales_staff_table.iterrows():
    # Calculate the number of years in service
    years_in_service = current_year - row['DATE_HIRED'].year

    if years_in_service <= 12:
        tenure_category = 'kort in dienst'
    else:
        tenure_category = 'lang in dienst'

    employee_names.append(row['LAST_NAME'])
    tenure_categories.append(tenure_category)

overview = pd.DataFrame({'Employee Name': employee_names, 'Tenure Category': tenure_categories})
overview